{% extends '@EasyAdmin/page/content.html.twig' %}


{% block main %}
    {% block content %}
        <div class="container">
            <h1>Welcome to the Admin Dashboard</h1>
            <p>This is the main area where you can manage your application.</p>
        </div>
    {% endblock content %}
{% endblock main %}